<?js
  var events = obj;
  var self = this;
?>

<table class="api-ref-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
<?js
  if(events) {
    events.forEach(function(event) {
      if(!event) {
        return;
      }

      var name = "event:" + encodeURI(event.name);
      var params = [];

      var eventParams = event.params
      var numberOfEventParams = eventParams ? eventParams.length : 0

      if (numberOfEventParams > 0) {
        event.signature = "("
        eventParams.forEach(function(param, index) {
          if (!param) {
            return;
          }

          var duplicate = false;
          var paramName = param.name

          for(var i = 0; i < params.length; i++) {
            if(paramName.indexOf(params[i]) > -1) {
              duplicate = true;
            }
          }

          if(!duplicate) {
            if(params.length > 0) {
              event.signature += ", " + paramName
            } else {
              event.signature += paramName;
            }

            params.push(paramName);
          }
        });

        event.signature += ")";
      } else {
        event.signature = "";
      }
?>
      <tr>
        <td>
          <a href='#<?js= name ?>'>
            <?js= event.parsedName.replace(/(parameterName|parameter):fireChange/, "<em>$1</em>:fireChange") + event.signature ?>
          </a>
<?js
          var eventReturns = eventReturns
          var numberOfEventReturns = eventReturns ? eventReturns.length : 0

          if (numberOfEventReturns) {
            eventReturns.forEach(function(_return, index) {
?>
              <?js= self.partial('type.tmpl', _return.type.names) ?>
<?js
              if (index < numberOfEventReturns - 1) {
                ?>|<?js
              }
            });
          }
?>
          <?js= self.partial('modifiers.tmpl', event) ?>
        </td>

        <td> <?js= event.summary ?> </td>
      </tr>
<?js
    });
  }
?>
  </tbody>
</table>
